<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RepriseReportLogAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RepriseReportLogAnalyzer.Properties.Settings>
            <setting name="FORMAT_DATE_TIME" serializeAs="String">
                <value>yyyy/MM/dd hh:mm:ss</value>
            </setting>
            <setting name="FORMAT_TIME_SPAN" serializeAs="String">
                <value>d\.hh\:mm\:ss</value>
            </setting>
        </RepriseReportLogAnalyzer.Properties.Settings>
    </applicationSettings>
</configuration>